*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
#seventhcertificates div h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: #081b21;
}
.certificates{
   display: flex;
   flex-direction: row;
}
.certifi{
    margin: 100px;
    border: 4px solid rgba(227, 215, 215, 0.596);
    border-radius: 10px;
    transition: transform 1s;
}
.certifi:hover{
    transform: translateY(-30px);
    transition-duration: 1s;
}
.certifi img{
    opacity: 0.2;
}
.certifi a{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}
.certifi p{
    padding: 10px;
    font-size: 20px;
    opacity: 0.9;
}
.view{
    color: whitesmoke;
    position: absolute;
    font-weight: 600;
    z-index: 1;
}
