*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
#eightcontact h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: #081b21;
}
.contact-row{
    display: flex;
    flex-direction: row;
}
.user{
    background-color: transparent;
    margin: 100px;
    margin-left: 120px;
}
.title{
    color: whitesmoke;
    padding: 10px;
}
.contactus{
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}
.form div textarea{
    width: 500px;
    height: 150px;
}
.input{
    padding: 25px;
}
.talk{
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 130px;
}
.talkdesc{
    padding-top: 50px;
    padding: 50px;
    color: whitesmoke;
    font-size: 20px;
}
.information li{
     color: whitesmoke;
     padding-left: 50px;
     font-size: 20px;
     list-style: none;
}
#submitbutton{
    color: whitesmoke;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(227, 215, 215, 0.596);
    border-radius: 20px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    padding-bottom: 5px;
    margin-left: 350px;
    /*background:-webkit-linear-gradient( to right #081b21 skyblue)*/ 
    background: #081b21;  
    background: linear-gradient(90deg, #081b21 0%, #081b35 35%, skyblue 100%);
    transition: transform 1s;
}
#submitbutton:hover{
     transform: rotate(360deg);
     transition-duration: 1s;
}